body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    height: 100vh;
    /* background: url('./h1.jpeg') no-repeat center center/cover; */
    position: relative;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    font-family: playfair;
}

.nav-links a:hover {
    color: #0071c2;
    z-index: -3;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.signin-btn {
    background-color: #5e3b8b;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.signin-btn i {
    margin-right: 5px;
}

.signin-btn:hover {
    background-color: #4a2e70;
}
